---
interface Props {
  title: string;
  subtitle: string;
  href: string;
  image: string;
}

const { href, title, subtitle, image } = Astro.props;
---

<a href={href} class="block bg-light-surface dark:bg-dark-surface rounded-lg overflow-hidden transform transition duration-300 hover:scale-105">
  <img src={image} alt={title} class="w-full h-40 object-cover" style="object-position: top;"/>
  
  <!-- <div class="p-6">
    <h2 class="text-3xl font-bold mb-2 text-primary dark:text-secondary">{title}</h2>
    <p class="text-gray-700 dark:text-gray-300">{subtitle}</p>
  </div> -->

</a>