---
interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class="block">
  <div class="bg-custom-secondary-light border-4 border-custom-secondary-light dark:bg-custom-secondary-dark rounded-lg shadow-lg overflow-hidden dark:border-custom-accent-dark transition-all duration-300 hover:shadow-xl hover:scale-105">
    <img src={image} alt={title} class="w-full h-48 object-cover" />
    <div class="p-6">
      <h3 class="text-3xl font-semibold mb-2 text-custom-text-light dark:text-custom-text-dark">{title}</h3>
      <p class="text-indigo-200 dark:text-custom-text-dark">{description}</p>
    </div>
  </div>
</a>